.navbar {
    background-color: #121212;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    padding-right: 15%;
    position: sticky;
    top: 0;
    z-index: 1000;
     /* box-shadow: inset 0 0 15px 20px #000707,
                 inset 0 0 30px 40px #01070d; */
  animation: navbarGlow 5s ease-in-out infinite alternate;
  }

  /* @keyframes navbarGlow {
    0% {
      box-shadow: inset 0 0 100px 2px #000a15,
                  inset 0 0 200px 4px #001111;
    }
    50% {
      box-shadow: inset 0 0 200px 4px #000e09,
                  inset 0 0 300px 6px #001a14;
    }
    100% {
      box-shadow: inset 0 0 100px 2px #000912,
                  inset 0 0 250px 5px #13001e;
    }
  } */
  
  .nav-links a {
    margin-left: 15px;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #f1ecf1;
    font-weight: 500;
  }
  
  .nav-links a.active {
    color: #007bff;
  }

  .glowing-text {
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff; /* Keep text white */
    animation: neonGlow 4s ease-in-out infinite alternate; 
  }
  
  /* @keyframes neonGlow {
    0% {
      text-shadow:
        0 0 80px #100000,
        0 0 160px #7f70b3,
        0 0 240px #0e16b6,
        0 0 320px #0e58b4,
        0 0 400px #084fac;
    }
    50% {
      text-shadow:
        0 0 80px #033e18,
        0 0 160px #064a2c,
        0 0 240px #02453a,
        0 0 320px #074941,
        0 0 400px #033024;
    }
    100% {
      text-shadow:
        0 0 80px #311753,
        0 0 160px #2e0aa4,
        0 0 240px #1f248c,
        0 0 320px #0b498f,
        0 0 400px #0c2342;
    }
  } */
  
  
  
  
  