.navbar {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  padding-right: 15%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  animation: pastelGlow 6s ease-in-out infinite alternate;
}

@keyframes pastelGlow {
  0% {
    box-shadow:
      0 -4px 25px rgba(182, 232, 249, 0.6),  /* light blue top glow */
      0 4px 30px rgba(251, 221, 221, 0.8);   /* white bottom glow */
  }
  50% {
    box-shadow:
      0 -4px 25px rgba(255, 182, 248, 0.6),  /* light pink top glow */
      0 4px 30px rgba(235, 236, 255, 0.9);   /* brighter white bottom glow */
  }
  100% {
    box-shadow:
      0 -4px 25px rgba(221, 209, 160, 0.6),  /* light purple top glow */
      0 4px 30px rgba(220, 255, 242, 0.8);   /* soft white bottom glow */
  }
}

  
  .nav-links a {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
  }
  
  .nav-links a.active {
    color: #007bff;
  }

  .glowing-text {
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    animation: neonGlow 4s ease-in-out infinite alternate; 
  }
  
  /* @keyframes neonGlow {
    0% {
      text-shadow:
        0 0 80px #100000,
        0 0 160px #7f70b3,
        0 0 240px #0e16b6,
        0 0 320px #0e58b4,
        0 0 400px #084fac;
    }
    50% {
      text-shadow:
        0 0 80px #033e18,
        0 0 160px #064a2c,
        0 0 240px #02453a,
        0 0 320px #074941,
        0 0 400px #033024;
    }
    100% {
      text-shadow:
        0 0 80px #311753,
        0 0 160px #2e0aa4,
        0 0 240px #1f248c,
        0 0 320px #0b498f,
        0 0 400px #0c2342;
    }
  }
  
  
   */
  
  